# 开发环境配置
DEBUG=True
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=localhost,127.0.0.1

# 数据库配置
DATABASE_URL=sqlite:///db.sqlite3

# 迅投配置
XT_USERDATA_PATH=D:\国金QMT交易端模拟\userdata_mini
XT_API_KEY=your_api_key
XT_SECRET_KEY=your_secret_key
XT_TOKEN=your_token 